<a href="https://colab.research.google.com/github/het-khatusuriya/ML/blob/main/Pandas_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('/nyc_weather.csv')# df= dataframe

# New section

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#df is an variable we created that contains references of all the data available in excel file
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,37,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [7]:
df['Sea Level PressureIn'][0:10:1] # slice -> substring(start,stop,step)

#A slice object is used to specify how to slice a sequence. You can specify where to start the slicing, and where to end. You can also specify the step,
#which allows you to e.g. slice only every other item.

0    30.03
1    30.02
2    29.86
3    30.05
4    30.57
5    30.50
6    30.28
7    30.20
8    30.16
9    29.59
Name: Sea Level PressureIn, dtype: float64

In [8]:
df['Temperature'].max()

50

In [9]:
df['Sea Level PressureIn'][df['Events']=='Rain']

8     30.16
9     29.59
15    29.52
26    30.03
Name: Sea Level PressureIn, dtype: float64

In [21]:
df['Sea Level PressureIn'][df['Events'].isnull()]

#is_null function is used to return null values
# df['Events'].isnull()

0     30.03
1     30.02
2     29.86
3     30.05
4     30.57
5     30.50
6     30.28
7     30.20
10    29.92
11    29.85
12    29.94
13    29.95
14    29.82
18    30.03
19    30.13
20    30.15
24    30.25
25    30.03
27    29.90
28    29.58
29    30.01
30    29.90
Name: Sea Level PressureIn, dtype: float64

In [27]:
new_df=df.fillna(0,inplace=False)

#if inplace = true then it will be affect directly on main excel sheet, new_df is temporary variable

In [28]:
new_df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,37,23,52,30.03,10,8.0,0,5,0,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,0,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,0,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,0,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,0,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,0,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,0,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,0.0,0,1,0,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [30]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,37,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [33]:
df.head(30)[5:20]

#head functions indicates top (n), top n numbers of lines and in parameters [n1:n2] where n1 is starting point and n2 indicates as Ending point

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302

In [35]:
df.tail(20)
#tail function Prints last values

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241